/* You can add global styles to this file, and also import other style files */
body {
    /*
    background: #2193b0;  
    background: -webkit-linear-gradient(to top, #6dd5ed, #2193b0);  
    background: linear-gradient(to top, #6dd5ed, #2193b0); 
    */
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    background-repeat: no-repeat;
    padding-bottom: 160px;
}

